<div class="outline">
    <div class="outline_card">
        <div class="card">
            <div class="card_header">
                <img src="/assets/images/revolt.jpg" alt="" class="bg_img">
            </div>
            <div class="card_body">
                <h3 class="title_card">Lorem ipsum</h3>
                <div class="card_body">
                    <p class="content_card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eum voluptatem minima nemo, recusandae voluptates quisquam molestiae nam natus harum ea eaque cumque, voluptatibus assumenda aspernatur pariatur. Voluptatum, aut molestias?</p>
                </div>
            </div>
        </div>
        <div class="card_behind">
            <div class="card_header">
                <img src="/assets/images/revolt.jpg" alt="" class="bg_img">
                <div class="list_pro">
                    <img src="/assets/images/revolt_no_bg.png" alt="" class="vi_s">
                    <img src="/assets/images/revolt_no_bg.png" alt="">
                    <img src="/assets/images/revolt_no_bg.png" alt="" class="vi_s">
                </div>
            </div>
            <div class="card_body">
                <p class="content_card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, sunt voluptas. Voluptates natus omnis quisquam deleniti accusamus et eaque nostrum? Temporibus autem nulla dolores voluptas odio ea earum velit sint.</p>
            </div>
        </div>
    </div>
</div>